*{
margin:0;
padding:0;
box-sizing:border-box;
}

body{

background:#090909;
font-family:Poppins;
overflow:hidden;
height:100vh;
display:flex;
justify-content:center;
align-items:center;
color:white;

}

#stars{

position:fixed;
width:100%;
height:100%;
background:url("https://i.imgur.com/u4DVsx6.png");
animation:stars 70s linear infinite;

}

@keyframes stars{

from{
background-position:0 0;
}

to{
background-position:0 2000px;
}

}

.envelope{

width:320px;
height:220px;
background:linear-gradient(145deg,#8d001f,#3d000d);
border-radius:10px;
display:flex;
justify-content:center;
align-items:center;
cursor:pointer;
box-shadow:0 0 80px crimson;
transition:1s;

}

.envelope:hover{

transform:scale(1.05);

}

.letter{

text-align:center;

}

.letter h1{

font-family:Great Vibes;
font-size:55px;

}

.letter h2{

margin-top:10px;
font-size:22px;

}

.click{

margin-top:20px;
color:gold;

}

.main{

position:absolute;
text-align:center;
width:70%;

}

.hidden{

display:none;

}

.title{

font-family:Great Vibes;
font-size:65px;
color:gold;

}

.name{

font-family:Cinzel;
font-size:35px;
margin-bottom:30px;

}

.glass{

backdrop-filter:blur(20px);
background:rgba(255,255,255,.08);
padding:30px;
border-radius:20px;
box-shadow:0 0 40px rgba(255,0,80,.4);

}

#typing{

font-size:20px;
line-height:2;

}

button{

margin-top:30px;
padding:18px 40px;
font-size:20px;
background:gold;
border:none;
border-radius:40px;
cursor:pointer;
transition:.5s;

}

button:hover{

transform:scale(1.1);

}

#hidden{

margin-top:40px;
font-size:22px;
line-height:2;

}

#musicBtn{

position:fixed;
bottom:20px;
right:20px;

}
